body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: large;
    min-height: 100vh;  
}

.btnDiv {
    display: flex;
    gap: 10px;
}

button {
    font-size: 50px;
}